#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

#title{
	color:red;
	text-align: center;
}

body{
	background-color: aquamarine;
}

button{
	background-color: blueviolet;
	border: 4px dotted purple;
	border-radius: 25px;
}